/*if we use css*/

ul{
  list-style-type: none;
  overflow: hidden;
  background-color: #2B2D42
}

li{
  color: white;
  float: left;
}

li a{
  display: block;
  color: white;
  padding: 50px 50px;
  text-decoration: none;
}


.company-name h1{
  font-family: 'Caeat', cursive;
  font-size: 50px;
  margin-bottom: 0;
  margin-top: 0 auto;
}

.company-name h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin-top: 0;
}

.home,.about,.contact{
  width: 50px;
  font-size: 25px;
  font-style: bold;
  position: absolute;
}

.company-name{
  position: relative;
  left: auto;
}

.home{
  right: 450px;
}

.about{
  right: 320px;
  word-spacing: normal;
  white-space: nowrap;
}

.contact{
  right: 150px;
}
